body {
	font-family: "Segoe UI", "Helvetica", "Helvetica Neue";
	color: rgb(235, 235, 235);
	background-color: rgb(50, 50, 50);
	text-align: center;
	margin: auto;
	width: 800px;
}

footer {
	background-color: rgb(30, 30, 30);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

table {
	border-collapse: collapse;
	background-color: rgb(70, 70, 70);
	margin: auto;
	margin-bottom: 20px;
}

tr:hover {
	background-color: rgb(30,30,30)
}

th, td {
	border: 1px solid black;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
}

th {
	background-color: rgb(35, 35, 35);
}

td {
	text-align: left;
}

a {
	text-decoration-style: dotted;
	color: inherit;
}

a:hover, a:active {
	text-decoration-style: solid;
}

.booked {
	color: #FF0000;
}

.free {
	color: #00FF00;
}